

* {
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

h3{
    font-family: Verdana,Tahoma, sans-serif;
    color: #355586;
}

.foto{
    max-width: 90%;
    width: 250px;
    height: 250px;
    background-image: url(Anderson-foto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 10px auto 20px auto;

}

.progress{
    max-width: 75%;
    margin: 0 auto 15px auto;
}

/* LADO ESQUERDO */


.lado_esquerdo{
    background-color: #355586;
    padding-bottom: 25px;
    padding-top: 10px;
}

.titulo_contato{
    color: white;
    font-variant: small-caps;
    margin: 50px 30px;
}
.material-icons{
    color: white;
}

.lado_esquerdo p{
    color: white;
    text-align: center;
    display: flex;
    column-gap: 25px;
    margin: 0px 15px 0px 15px;
    padding-bottom: 25px ;
}

.lado_esquerdo a{
    color: white;
    text-decoration: none;
}
.lado_esquerdo a:hover{
    color: red;
    transition: 1s;
}

/* LADO DIREITO */

.lado_direito{
    background-color: white;
    height: 100vh;
    margin: 50px;
}

.experiencias ul{
    list-style-type: none;
    margin-bottom: 0px;
}
.experiencias ul li{
    margin-bottom: 0.3em;
}
.bloco_informacao2 h3{
    margin: 1em 0px;
}

.bloco_informacao2 h1{
    font-size: 30px;
}

.nome{
    font-size: 30px;
    text-align: center;
}

.destaque{
    margin-top: 25px;
}