

* {
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

h3{
    font-family: Verdana,Tahoma, sans-serif;
    color: #355586;
}

.foto{
    width: 250px;
    height: 250px;
    background-image: url(../pereira-alves.github.io/Anderson-foto.jpg);
    background-size: contain;
    border: 1px solid red;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 110px;
    margin: 50px;
}


/* LADO ESQUERDO */


.lado_esquerdo{
    background-color: #355586;
}

.titulo_contato{
    color: white;
    font-variant: small-caps;
    margin: 50px 30px;
}
.material-icons{
    color: white;
}

.lado_esquerdo p{
    color: white;
    text-align: center;
    display: flex;
    column-gap: 25px;
    margin: 0px 15px 15px 15px;
}

.lado_esquerdo a{
    color: white;
    text-decoration: none;
}
.lado_esquerdo a:hover{
    color: red;
    transition: 1s;
}

/* LADO DIREITO */

.lado_direito{
    background-color: white;
    height: 100vh;
    margin: 50px;
}

.experiencias ul{
    list-style-type: none;
    margin-bottom: 15px;
}
.experiencias ul li{
    margin-bottom: 0.3em;
}
.bloco_informacao2 h3{
    margin: 1em 0px;
}

.bloco_informacao2 h1{
    font-size: 30px;
}

.nome{
    font-size: 30px;
    text-align: center;
}

.destaque{
    margin-top: 25px;
}