

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vh;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

h3{
    font-family: Verdana,Tahoma, sans-serif;
    color: #355586;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 15px auto;
}


.principal{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


/* LADO ESQUERDO */


.lado_esquerdo{
    background-color: #355586;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.titulo_contato{
    color: white;
    text-align: center;
    font-variant: small-caps;
    padding: 30px 0px;

}

.material-icons{
    color: white;

}

.bloco_informacao{

    padding: 0px 10px 15px 30px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.bloco_informacao a{
    color: white;
    text-decoration: none;
}
.bloco_informacao a:hover{
    color: red;
    transition: 1s;
}
.descricao{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* LADO DIREITO */

.lado_direito{
    background-color: white;
    display: flex;
    width: 1200px;
    flex-direction: column ;
    align-items: flex-start;
    padding: 50px;
    margin: 0;
}

.experiencias ul{
    list-style-type: none;
    margin-bottom: 15px;
}
.experiencias ul li{
    margin-bottom: 0.3em;
}
.bloco_informacao2 h3{
    margin: 1em 0px;

}

.bloco_informacao2 h1{
    font-size: 30px;
}

.nome{
    font-size: 30px;
    text-align: center;
}

.destaque{
    margin-top: 25px;

}

/* QUEBRA */

@media screen and (min-width: 601px) and (max-width: 992px){
    .principal{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .lado_direito{
        background-color: white;
        
    }
    .lado_esquerdo{
        background-color: #355586;
    }
}

@media screen and (min-width: 300px) and (max-width: 600px){
    .principal{
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

    }
    .lado_direito{
        background-color: white;
        display: flex;
        width: 450px;
        flex-direction: column ;
        align-items: flex-start;
        padding: 50px;
    }
    .lado_esquerdo{
        background-color: #355586;
        display: flex;
        width: 450px;
        flex-direction: column ;
        align-items: flex-start;
        padding: 50px;
    }
}